    
<% if @req_dp.present? || @req_doc.present? %>
    <button type="button" class="btn btn-primary" id="req-doc" data-toggle="modal" data-target="#docModal">
        Require Documents
    </button>

    <div class="modal fade" id="docModal" data-show="true" tabindex="-1" role="dialog" data-focus="true" data-show="true" data-backdrop="static" data-keyboard="false" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <h5 class="modal-title" id="exampleModalLabel">Need Your Attention</h5>
                </div>
                <div class="modal-body">
                    <p>Some things are missing! Please upload your document(s).</p>
                    <br>
                    <p>Please click on each link below and upload them to complete your profile on Care Mountain portal:</p>
                    <br><hr>
                    <% if @req_dp %>
                        <li class="ml-4 mt-3"><%= link_to("Profile Picture ", edit_user_doc_path(current_user.id), class: "") %></li>
                    <% end %>
                    <ul class="list-disc ml-4 mt-3">
                        <% @req_doc.each do |att|%>
                            <li><%= link_to(att, new_user_doc_path(doc_type: att), class: "") %></li>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
<% elsif @ud.present? %>
    <button type="button" class="btn btn-primary" id="req-doc" data-toggle="modal" data-target="#docModal">
        Require Documents
    </button>

    <div class="modal fade" id="docModal" data-show="true" tabindex="-1" role="dialog" data-focus="true" data-show="true" data-backdrop="static" data-keyboard="false" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <h5 class="modal-title" id="exampleModalLabel">Need Your Attention</h5>
                </div>
                <div class="modal-body">
                    <p>It seems that some of your attechment(s) are missing.</p>
                    <p>Please upload the following attachments in the edit section by clicking the following link below.</p>
                    <br><hr>
                    <ul class="list-disc ml-4 mt-3">
                        <% if @req_dp %>
                            <li><%= link_to("Profile Picture ", edit_user_doc_path(current_user.id), class: "") %></li>
                        <% end %>
                        <% @ud.each do |att|%>
                            <li><%= link_to(( att.document_type.name || att.doc_type || att.id ), edit_user_doc_path(att), class: "") %></li>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
<% end %>