    
<% unless session[:is_closed_without_docs] %>
    <% if (@req_dp.present? || @req_doc.present?) %>
        <button type="button" class="btn btn-danger" id="req-doc" data-toggle="modal" data-target="#docModal">
            Submit Required Documents
        </button>

        <div class="modal fade" id="docModal" data-show="true" tabindex="-1" role="dialog" data-focus="true" data-show="true" data-backdrop="static" data-keyboard="false" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header justify-content-center">
                        <h3 class="modal-title modal-title-main" id="exampleModalLabel">Need Your Attention</h3>
                    </div>
                    <div class="modal-body">
                        <p>These documents are missing. Please click the links below to upload:</p>
                        <br><hr>
                        <% if @req_dp %>
                            <ul class="list-disc ml-4 mt-3">
                                <li><%= link_to("Profile Picture ", edit_user_path(current_user.id), class: "") %></li>
                            </ul>
                        <% end %>
                        <ul class="list-disc ml-4">
                            <% @req_doc.each do |key,val|%>
                                <li><%= link_to(val, new_user_doc_path(doc_type: key), class: "") %></li>
                            <% end %>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary on-modal-close" data-dismiss="modal">Close</button>
                </div>
                </div>
            </div>
        </div>
    <% elsif @ud.present? %>
        <button type="button" class="btn btn-primary" id="req-doc" data-toggle="modal" data-target="#docModal">
            Required Documents
        </button>

        <div class="modal fade" id="docModal" data-show="true" tabindex="-1" role="dialog" data-focus="true" data-show="true" data-backdrop="static" data-keyboard="false" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header justify-content-center">
                        <h5 class="modal-title" id="exampleModalLabel">Need Your Attention</h5>
                    </div>
                    <div class="modal-body">
                        <p>It seems that some of your attechment(s) are missing.</p>
                        <p>Please upload the following attachments in the edit section by clicking the following link below.</p>
                        <br><hr>
                        <ul class="list-disc ml-4 mt-3">
                            <% if @req_dp %>
                                <li><%= link_to("Profile Picture ", edit_user_doc_path(current_user.id), class: "") %></li>
                            <% end %>
                            <% @ud.each do |att|%>
                                <li><%= link_to(( att.document_type.name || att.doc_type || att.id ), edit_user_doc_path(att, doc_type: att.document_type.name), class: "") %></li>
                            <% end %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
<%end%>